.modal.fade#applicationModal(aria-hidden="true" aria-labelledby="licensesModalLabel" tabindex="-1")
  .modal-dialog.text-dark.modal-lg
    .modal-content
      .modal-header(style="background-color: var(--main-bg-color);")
        h5.modal-title#licensesModalLabel.text-light Mariner Application
        button.btn-close(data-mdb-dismiss="modal" type="button" aria-label="Close")
      .modal-body.text-center.text-light(style="background-color: var(--header-bg-color);")
        form.form-horizontal.d-inline(id="target" method="POST" action="/appUpload" enctype="multipart/form-data").container
          input(id="marinerIDNumber" name="marinerIDNumber" type="text" hidden value="marinerID")
          label(for="file-input-group") Application File:
            .input-group.mt-2#file-input-group
              input.form-control.form-control-file.text-dark(id="application-file" name="application" type="file")
              button.input-group-text.btn(id="app-upload-button" style="background-color: var(--yellow-color); font-weight: bold;" onclick="uploadApp()" value="Upload") Upload
        #appArea.text-center.mt-4
      .modal-footer(style="background-color: var(--main-bg-color);")
        button.btn.btn-secondary(id="closeApplicationModal" data-mdb-dismiss="modal" type="button")
          i.bi.bi-x(style="font-size: .9rem;")
          span Close
        //- button.btn.btn-primary Save
