form(action="/createUser" method="post" name="createUserForm")
  .container-fluid
    .row
      .col
        .form-outline.form-white
          input.form-control.bg-white.text-dark#username(type="text" name="username" required)
          label.form-label.text-dark(for="username") Username
        br
    .row
      .col
        .form-outline.form-white
          input.form-control.bg-white.text-dark#password(type="password" name="password" required)
          label.form-label.text-dark(for="password") Password
        br
    .row
      .col-9
      .col-3
        input#createUserButton.btn.btn-lg.btn-success(type="submit" name="submit" value="Create User")