header.shadow-3-strong
  nav.navbar.navbar-expand-lg.navbar-dark.shadow-sm
    .container-fluid
      a.navbar-brand
        //- img(src="/images/globalcompliance.svg" alt="Global Compliance Logo" height="100" width="100vw")
        include globalcompliance.svg
        if title != 'Login'
      ul.navbar-nav
          if title == 'Search'
            li.nav-item
              a.nav-link.active(href="/search") Search
          else
            li.nav-item
              a.nav-link(href="/search") Search

          if title == 'Add'
            li.nav-item
              a.nav-link.active(href="/form") Add
          else
            li.nav-item
              a.nav-link(href="/form") Add

          if title == 'Reports'
            li.nav-item
              a.nav-link.active(href="/reports") Reports
          else
            li.nav-item
              a.nav-link(href="/reports") Reports

          if title == 'Maintenance'
            li.nav-item
              a.nav-link.active(href="/maintenance") Maintenance
          else
            li.nav-item
              a.nav-link(href="/maintenance") Maintenance

          if title != 'Login'
            li.nav-item
            a.nav-link(href="./logout") Logout