style.
  header
    {
      background-color:#276ED8;
      color: white;
    }

header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.shadow-sm
    .container-fluid
      a.navbar-brand
        include globalcompliance.svg
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="./search") Search
          li.nav-item
            a.nav-link(href="./add") Add
          li.nav-item
            a.nav-link(href="./reports") Reports
          li.nav-item
            a.nav-link(href=".Maintenance") Maintenance