.modal.fade#licensesModal(tabindex="-1" aria-labelledby="licensesModalLabel" aria-hidden="true")
  .modal-dialog.text-dark.modal-lg
    .modal-content
      .modal-header
        h5.modal-title#licensesModalLabel Mariner Licenses
        button.btn-close(type="button" data-mdb-dismiss="modal" aria-label="Close")
      .modal-body.text-center
        form.form-horizontal.d-inline(method="POST" action="/appUpload" enctype="multipart/form-data" id="target")
          input(type="text" hidden id="marinerIDNumber" name="marinerIDNumber" value="marinerID")
          label(for="file-input-group") Application File:
            .input-group.mt-2#file-input-group
              input.form-control.form-control-file.text-dark(type="file" id="application-file" name="application")
              button.input-group-text.btn(style="background-color: var(--yellow-color); font-weight: bold;" onclick="uploadApp()" id="app-upload-button" value="Upload" type="submit") Upload
        #appArea.text-center.mt-4 {}
      .modal-footer
        button.btn.btn-secondary(type="button" data-mdb-dismiss="modal") Cancel
        button.btn.btn-primary Save