.modal.fade#licenseAttachmentModal(aria-hidden="true" aria-labelledby="licenseAttachmentModalLabel" tabindex="-2")
  .modal-dialog.text-dark.modal-lg
    .modal-content
      .modal-header(style="background-color: var(--main-bg-color);")
        h5.modal-title.text-light#licenseAttachmentModalLabel New License Attachment
        button.btn-close(data-mdb-dismiss="modal" type="button" aria-label="Close")
      .modal-body.pb-3(style="background-color: var(--header-bg-color);").px-4
        form.form-horizontal.d-inline(id="newLicenseAttachmentForm" method="POST" action="/licenses/attachments/" enctype="multipart/form-data").container
          .row
            .col-6
              input.form-control#modalLicenseIDhidden(name="licenseID" type="text" hidden)
              input.form-control#modalMarinerIDhidden(name="marinerID" type="text" hidden)
            .row.mb-2
              .col-4
                label.form-label License Attachment Name:
                input.form-control#licenseAttachmentName(name="licenseAttachmentName" type="text")
              .col-8
                label.form-label License Attachment:
                .input-group#attachment-input-group
                  input.form-control.form-control-file.text-dark(id="attachment-file" name="attachment" type="file")
                  //- button.input-group-text.btn(id="attachment-upload-button" type="button" style="background-color: var(--yellow-color); font-weight: bold;" onclick="uploadLicenseAttachment()" value="Upload") Upload
      .modal-footer(style="background-color: var(--main-bg-color); width: 100%;")
        button.btn#saveLicenseAttachmentButton.text-light(type="submit" style="background-color: var(--green-color);" form="newLicenseAttachmentForm") Save
