.table-responsive#summaryTableWrapper
  table.table.table-bordered.table-sm.mt-4.invisible#summaryTable
    thead.table-dark.bg-white
      tr
        th.p-3(scope="col" style="text-align: center;") LicenseID
        th.p-3(scope="col" style="text-align: center;") Date
        th.p-3(scope="col" style="text-align: center;") Name
        th.p-3(scope="col" style="text-align: center;") License Type
        th.p-3(scope="col" style="text-align: center;") Country
        th.p-3(scope="col" style="text-align: center;") Issue Date
        th.p-3(scope="col" style="text-align: center;") Expiration Date
        th.p-3(scope="col" style="text-align: center;") Pending GC?
        th.p-3(scope="col" style="text-align: center;") Pending Government?
    tbody.bg-white.text-dark.table-group-divider.table-divider-color#summaryBody(style="font-size: 1rem; font-weight: bold;")
