table.table.table-bordered.table-sm.mt-4
  thead.table-dark.bg-white
    tr
      th.p-3(scope="col" style="text-align: center;") Mariner&nbsp;ID
      th.p-3(scope="col" style="text-align: center;") Name
      th.p-3(scope="col" style="text-align: center;") Date of Birth
      th.p-3(scope="col" style="text-align: center;") Employer
      th.p-3(scope="col" style="text-align: center;") Processing Agent
      th.p-3(scope="col" style="text-align: center;") Status
      //- th.p-3(scope="col" style="text-align: center;") Edit
      //- th.p-3(scope="col" style="text-align: center;") Delete
  tbody.bg-white.text-dark.table-group-divider.table-divider-color(style="font-size: 1rem; font-weight: bold;")
    //- tr(style="text-align: center;")
    //-   td 10012
    //-   td Person Person Personson The III
    //-   td 10-JUN-2022
    //-   td Boats and Stuff, Inc.
    //-   td 1 - Arlene Martin
    //-   td
    //-     span.badge.badge-info.rounded-pill.d-inline Pending
    //-   //- td
    //-   //-   button.btn-sm.btn-info
    //-   //-     i.bi.bi-pencil-square(style="font-size: .8rem;")
    //-   //- td
    //-   //-   button.btn-sm.btn-danger
    //-   //-     i.bi.bi-x-circle-fill(style="font-size: .8rem;")
    //- tr(style="text-align: center;")
    //-   td 10012
    //-   td Person Person Personson The III
    //-   td 10-JUN-2022
    //-   td Boats and Stuff, Inc.
    //-   td 1 - Arlene Martin
    //-   td
    //-     span.badge.badge-success.rounded-pill.d-inline Complete
    //-   //- td
    //-   //- td
    //- tr(style="text-align: center;")
    //-   td 10012
    //-   td Person Person Personson The III
    //-   td 10-JUN-2022
    //-   td Boats and Stuff, Inc.
    //-   td 1 - Arlene Martin
    //-   td
    //-     span.badge.badge-danger.rounded-pill.d-inline Waiting
    //-   //- td
    //-   //- td
    //- tr(style="text-align: center;")
    //-   td 10012
    //-   td Person Person Personson The III
    //-   td 10-JUN-2022
    //-   td Boats and Stuff, Inc.
    //-   td 1 - Arlene Martin
    //-   td
    //-     span.badge.badge-warning.rounded-pill.d-inline Submitted
    //- td
    //- td
