table.table
          thead
            tr
              th(scope="col")
              th(scope="col")
              th(scope="col")
              th(scope="col")
              th(scope="col")
              th(scope="col")
              th(scope="col")
              th(scope="col")
          tbody
            tr
              td
              td
              td
              td
              td
              td
              td
              td