//-
  @Author: flowmar
  @Date: 2022-07-02 23:10:24
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:10:24


extends layout

block content







  script.
    let file = !{pdf};
    let downloadFile = (file, fileName) => {

    const link = document.createElement('a');
    link.href = URL.createObjectURL(file);
    link.download = fileName;

    document.body.append(link);
    link.click();
    link.remove();
    setTimeout(() => URL.revokeObjectURL(link.href), 10000);
    }

    downloadFile(new Blob (file, "application.pdf"));
