//-
  @Author: flowmar
  @Date: 2022-07-02 23:10:44
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:10:44


extends layout.pug

block content
  .container-fluid
    .row.mt-5
      .col-1
      .col-4.display-5.page-title Login
      .col-7
    .row.bg-dark.m-3.p-4
      .col.shadow-4-strong.bg-light.bg-opacity-25
        form(action="/authenticate" method="POST" name="loginForm").container
          .row.my-4
            .col
              .text-center Please enter your credentials.
          .row.my-4
            .col
              .form-outline
                input.form-control.bg-white.text-dark#inputUsername(type="text" name="inputUsername" required)
                label.form-label.text-dark(for="inputUsername") Username
          .row
            .col
              .form-outline
                input.form-control.bg-white.text-dark#inputPassword(type="password" name="inputPassword" required)
                label.form-label.text-dark(for="inputPassword") Password
          .row.my-2
            .col.d-flex.justify-content-end
              input#loginButton.btn.btn-lg.btn-success(onclick="authenticateUser()" value="Login")
      //- include includes/createUser.pug

      script.

        document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).update();
          });

        let removeUser = !{JSON.stringify(removeUser)};
        console.log(removeUser);
        if (removeUser) {
          window.localStorage.removeItem("currentUser");
          removeUser = false;
        }

        function authenticateUser(){
        let username = $('#inputUsername').val();
        let password = $('#inputPassword').val();

        axios.post('/authenticate', {
          inputUsername: username,
          inputPassword: password
        }).then(response => {
          console.log(response);
          window.location.href = '/search';
        }).catch(error => {
          console.log(error);
        })
        }

        let passwordInput = document.getElementById('inputPassword');

        passwordInput.addEventListener("keypress", function(e) {
          if (e.key === "Enter") {
            e.preventDefault();
            document.getElementById('loginButton').click();
          }
        })
