//-
  @Author: flowmar
  @Date: 2022-07-02 23:10:52
  @Last Modified by: flowmar
  @Last Modified time: 2022-07-02 23:13:49


doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(meta http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title} | Global Compliance

    //- link(rel='stylesheet' href='/css/mdb.dark.min.css')
    link(rel='stylesheet' href='/css/mdb.min.css')
    link(rel='stylesheet' href='/css/bootstrap-icons.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/mdb.min.js')
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/jquery-dropdown-datepicker.min.js')


  body
    include includes/header.pug

    main#main
      block style
      block initial
      block content

    include includes/footer.pug
    script(src='/js/vendor/parsley.min.js')
