doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(meta http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title} | Global Compliance

    //- link(rel='stylesheet' href='/css/mdb.dark.min.css')
    link(rel='stylesheet' href='/css/mdb.min.css')
    link(rel='stylesheet' href='/css/bootstrap-icons.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/jquery-ui.css')
    script(src='/js/mdb.min.js')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery-ui.min.js')


  body
    include includes/header.pug

    main#main
      block style
      block content

    include includes/footer.pug
    script(src='/js/parsley.min.js')