//-

  @Author: flowmar
  @Date: 2022-07-02 23:11:04
  @Last Modified by:   flowmar
  @Last Modified time: 2022-07-02 23:11:04


extends layout

block content

  <div class="datatable" data-mdb-dark="true" data-mdb-color="blue-grey-dark" data-mdb-border-color="light" data-mdb-full-pagination="true" data-mdb-hover="true" data-mdb-striped="true" data-mdb-selectable="true">
    table.table
      thead
        tr
          th(scope="col") Date
          th(scope="col") License Name
          th(scope="col") Country
          th(scope="col") Issue Date
          th(scope="col") Expiration Date
          th(scope="col") Pending GC
          th(scope="col") Pending Government
          th(scope="col") Upload Credential
      tbody
        tr
          td Date
          td License Name
          td Country
          td Issue Date
          td Expiration Date
          td Pending GC
          td Pending Government
          td Upload Credential
    </div>
