extends layout.pug

block content
    .container-fluid
      .row.mt-5
        .col-1
        .col-4.display-5.page-title Maintenance
        .col-7
      .row.bg-dark.m-3.p-4
        .col-2
        .col-8.shadow-4-strong.bg-light.bg-opacity-25 Maintenance Area
            select(type="dropdown")
        .col-2