extends layout.pug

block content
  style.
    .form-label {
      color: #FFFFFF;
    }
    option {
      color: #FFFFFF;
    }

  .container-fluid
        .row.mt-5
          .col-1
          .col-4.display-5.page-title Search
          .col-7
        .row.bg-dark.m-3.p-1.py-3
          .col.shadow-4-strong.bg-light.bg-opacity-25.p-4.d-flex.justify-content-evenly.m-2.mb-0
            form.container-fluid(action="/search" method="post" name="searchDatabase" data-parsley-validate)
              .row.d-flex.align-items-end
                .col-3.mx-1
                  label.form-label(for="search-by") Search By:
                  select.form-select.bg-white(id="search-by" aria-label="Select a search category" name="searchBy")
                    option(value="marinerID") Mariner ID
                    option(value="name") Name
                    option(value="email") Email
                    option(value="birthDate") Birth Date
                    option(value="applicationID") Application ID
                    option(value="processingAgent") Processing Agent
                .col-2
                .col-4
                  label.form-label(for="search") Search:
                  input.form-control.bg-white(type="text" id="search-text" name="searchText")
                .col-2.p-0
                  button.btn.text-white(style="background-color: var(--purple-color);" type="submit" id="search-button")
                    span
                      i.bi.bi-search(style="font-size: .88rem;")
                      span(style="font-size: .85rem;") &nbsp;&nbsp;Search
              .row
                .col
                  include includes/tableHead
              .row
                .col-7
                .col-5.d-flex.justify-content-end
                  button.btn.btn-lg.mx-2.text-white(style="background-color: var(--indigo-color)" type="button" id="view-mariner-button")
                    i.bi.bi-eye-fill(style="font-size: 1rem;")
                    span(style="font-size: 1.05rem;")   &nbsp;View
                  button.btn.btn-lg.btn-info.mx-2(type="button" id="edit-mariner-button")
                    i.bi.bi-pencil-square(style="font-size: 1rem;")
                    span(style="font-size: 1.05rem;")   &nbsp;Edit
                  button.btn.btn-lg.btn-danger.mx-2(type="button" id="delete-mariner-button")
                    i.bi.bi-x-circle-fill(style="font-size: 1rem;")
                    span(style="font-size: 1.05rem;")   &nbsp;Delete

  script(src="/js/search.js")
  script.
      //- Wait until DOM is loaded
      window.addEventListener('DOMContentLoaded', (event) => {
      //- Use Pug to bring in data from database
      let allMarinersArray = !{JSON.stringify(allMariners)};
      console.log(allMarinersArray);
      //- Loop through array of Mariners and add data to table
      let tableBody = $('tbody');
      for (let mariner of allMarinersArray)
      {
      tableBody.append("<tr style='text-align: center;'> <td>" + mariner.marinerID + "</td><td>" + mariner.fullName + "</td><td>" + mariner.birthDate + "</td><td>" + mariner.employer + "</td><td>" + mariner.processingAgent + "</td><td>" + mariner.status);
      }
      });